<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button title="Cerrar" aria-label="Cerrar" class="close" type="button" onclick="cerrar_modal_edicionUsuario();">
        <spam aria-hidden="true">&times;</spam>
      </button>
      <h2 class="text-center"> EDITAR </h2>
    </div>
    <form id="form_edicionUsuario" action="{% url 'editar_Usuario' usuario.pk %}" method="POST">{% csrf_token %}
      <div class="modal-body">

        <p>
          {{ form.username.label }}
          <div  onkeypress="return soloNumeros(event)"  oncopy="return false" onpaste="return false" oncut="return false">{{ form.username }}</div>
          <div class="alert alert-danger error-username d-none"></div>
        </p>

        <p>
          {{ form.nombre.label }}
          <div onkeypress="return soloLetras(event)" oncopy="return false" onpaste="return false" oncut="return false">{{ form.nombre }}</div>
          <div class="alert alert-danger error-nombre d-none"></div>
        </p>

        <p>
          {{ form.apellido.label }}
          <div onkeypress="return soloLetras(event)" oncopy="return false" onpaste="return false" oncut="return false">{{ form.apellido }}</div>
          <div class="alert alert-danger error-apellido d-none"></div>
        </p>

        <p>
          {{ form.email.label }}
          <div oncopy="return false" onpaste="return false" oncut="return false">{{ form.email }}</div>
          <div class="alert alert-danger error-email d-none"></div>
        </p>

        <p>
          {{ form.usuario_administrador.label }}
          {{ form.usuario_administrador }}
          <div class="alert alert-danger error-usuario_administrador d-none"></div>
        </p>
        <p> Los campos con (*) son obligatorios</p>
      </div>

      
      <div class="modal-footer">
        <button class="btn btn-danger" type="button" onclick="cerrar_modal_edicionUsuario();">Cancelar</button>
        <button id="boton_creacion" class="btn btn-primary" type="button" onclick="editarUsuario();">Confirmar</button>
        </div>
    </form>
  </div>
</div>