{% extends "Inicio/index.html" %} {% load static %} {% block title %} Listado de
Profesores {% endblock title %} {% block extra_css %}
<link
  rel="stylesheet"
  href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css'  %}"
/>
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/select2-bootstrap4.min.css' %}" />
{% endblock extra_css %} {% block body %}
    <style>
        table {
            margin: auto; /* Centra la tabla horizontalmente */
            border-collapse: collapse; /* Opcional: para un mejor aspecto */
        }
        th, td, tr {
            border: 1px solid black; /* Añade bordes a las celdas */
            padding: 8px; /* Espaciado interno */
            text-align: center; /* Centra el texto dentro de las celdas */
        }
    </style>
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <strong class="mx-auto">Listado de Actividad </strong>
      <a
        class="nav-link"
        onclick="abrir_modal_creacionActividad('{% url 'registrar_Actividad' %}');"
        title="Añadir Actividad"
        aria-label="Añadir Actividad"
      >
        <i class="fa fa-plus"> Añadir Actividad </i> 
      </a>
    </div>
  </div>

  <div class="table-stats order-table ov-h">
    <table id="tabla_actividades" class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre De la Actividad</th>
          <th> Nombre del Grupo </th>
          <th>Planificacion</th>
          <th>Fecha</th>
          <th>Descripcion</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<div
  class="modal fade"
  id="creacionActividad"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
></div>

<div
  class="modal fade"
  id="edicionActividad"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
></div>

<div
  class="modal fade"
  id="eliminacionActividad"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
></div>

{% endblock body %} {% block extrajs %}
<script src="{% static 'js/lib/data-table/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'js/actividad.js' %}"></script>
<script src="{% static 'js/i18n/es.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
{% endblock extrajs %}



