<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button title="Cerrar" aria-label="Cerrar" class="close" type="button" onclick="cerrar_modal_creacionCargo();">
        <spam aria-hidden="true">&times;</spam>
      </button>
      <h2 class="text-center"> REGISTRO </h2>
    </div>
    <form id="form_creacionCargo" action="{% url 'registrar_Cargo' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
      <div class="modal-body">

        <p>
          {{ form.nombre_cargo.label }}
          <div onkeypress="return soloLetras(event)" oncopy="return false" onpaste="return false" oncut="return false">{{ form.nombre_cargo }}</div>
          <div class="alert alert-danger error-nombre_cargo d-none"></div>
        </p>
        <p> Los campos con (*) son obligatorios</p>

      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" type="button" onclick="cerrar_modal_creacionCargo();">Cancelar</button>
        <button id="boton_creacion" class="btn btn-primary" type="button" onclick="registrarCargo();">Confirmar</button>
        </div>
    </form>
  </div>
</div>