<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button title="Cerrar" aria-label="Cerrar" class="close" type="button" onclick="cerrar_modal_creacionEstudiante();">
        <spam aria-hidden="true">&times;</spam>
      </button>
      <h2 class="text-center"> REGISTRO </h2>

      
    </div>
    <form id="form_creacionEstudiante" action="{% url 'registrar_Estudiante' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
      <div class="modal-body">

        <p>
          {{ form.cedula_estudiante.label }}
          <div class="input-group">
            <div class="w-25">{{ form.tipo_cedula_estudiante }}</div>
            <div class="w-75" onkeypress="return soloNumeros(event)" oncopy="return false" onpaste="return false" oncut="return false">{{ form.cedula_estudiante }}</div>
          </div>
          <div class="alert alert-danger error-tipo_cedula_estudiante d-none"></div>
          <div class="alert alert-danger error-cedula_estudiante d-none"></div>
        </p>

        <p>
          {{ form.nombre_estudiante.label }}
          <div onkeypress="return soloLetras(event)" oncopy="return false" onpaste="return false" oncut="return false">{{ form.nombre_estudiante }}</div>
          <div class="alert alert-danger error-nombre_estudiante d-none"></div>
        </p>

        <p>
          {{ form.apellido_estudiante.label }}
          <div onkeypress="return soloLetras(event)" oncopy="return false" onpaste="return false" oncut="return false">{{ form.apellido_estudiante }}</div>
          <div class="alert alert-danger error-apellido_estudiante d-none"></div>
        </p>
        <p>
          {{ form.Sexo.label }}
          <div class="input-group">
            <div class="w-100">{{ form.Sexo }}</div>
          </div>
          <div class="alert alert-danger error-Sexo d-none"></div>
        </p>

        <p>
          {{ form.telefono_estudiante.label }}
          <div onkeypress="return soloNumeros(event)">{{ form.telefono_estudiante }}</div>
          <div class="alert alert-danger error-telefono_estudiante d-none"></div>
        </p>
        

        <p>
          {{ form.correo_estudiante.label }}
          <div >{{ form.correo_estudiante }}</div>
          <div class="alert alert-danger error-correo_estudiante d-none"></div>
        </p>
        <p> Los campos con (*) son obligatorios</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" type="button" onclick="cerrar_modal_creacionEstudiante();">Cancelar</button>
        <button id="boton_creacion" class="btn btn-primary" type="button" onclick="registrarEstudiante();">Confirmar</button>
        </div>
    </form>
  </div>
</div>


